
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
}

.main-container {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    width: 70vw;
    height:60vh;
}

.aoeimg {
    height: 100%;
    min-width: 80vw;
    position: absolute;
    overflow: hidden;
}

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: inherit;
}

form {
    height: 75%;
    max-width: 50%;
    position: absolute;
    left: 33%;
    top: 40%;
    display: flex;
    flex-direction: column;
}

label {
    color: azure;
    display: flex;
    font-family: 'Cinzel', 'Arial';
    font-weight: 600;
}

input[type=text], input[type=email], input[type=tel], input[type=password], textarea {
    display: flex;
    height: 2em;
    width: 12em;
    border-radius: 8px;
    text-align:left;
    border: solid #72a4c7 2px;
    background-color: #233443 ;
    color: azure;
    font-family: 'Cinzel', 'Arial';
    font-weight: 800;
    font-size: 1em;
}

::placeholder {
    font-size: 1em;
    /* color: rgb(186, 192, 192); */
    color: #233443;
}


.names, .row2, .passwords {
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
    gap: 3em;
}

input:hover{
    border: 2px solid whitesmoke;
    transition: 0.75s;
}

input:focus {
    background-color: #5a6874;
    border-color: gold;
    outline: none;
    transition: 0.75s;
}

p {
    font-size: 2em;
    text-shadow: 3px 3px black;
    color: white;
}

.pcont {
    min-width: 32em;
    max-height: 32em;
    min-width: 32em;
    max-width: 32em;
    position: absolute;
    top: 0%;
    left: 31%;
}

button[type=submit] {
    border-radius: 8px;
    text-align:center;
    border: solid #72a4c7 2px;
    background-color: #233443 ;
    color: azure;
    font-family: 'Cinzel', 'Arial';
    font-weight: 800;
    font-size: 1em;
    width: fit-content;
    padding:10px;
    position: relative;
    left: 26%;
    margin-top: 2em;
}

input:valid {
    border: solid #3b9716 2px;
    transition: 1s;
}

button:hover {
    border: 2px solid rgba(255, 240, 24, 0.9);
    color: rgba(255, 240, 24, 0.75); ;
    transition: 0.75s;
}

.disclaimer {
    font-size: 12px;
    color: white;
    position: absolute;
    top: 98%;
    left: 25vw;
    
}









