body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
}

.main-container img {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    width: 70vw;
    height:60vh;
}

.aoeimg {
    height: 100%;
    position: absolute;
}

form {
    position: absolute;
}

label {
    color: azure;
    display: flex;
}

input[type=text] {
    display: flex;
    height: 3em;
    border-radius: 8px;
}

::placeholder {
    font-size: 2em;
    padding-bottom: 0;
}



