
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

body {
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(0, 0, 0);
}

.main-container {
    flex: 0 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 1em;
    width: 80vw;
    height:60vh;
}

.aoeimg {
    height: 100%;
    position: absolute;
}

img {
    height: 100%;
    width: 100%;
    object-fit: fill;
    border-radius: inherit;
}

form {
    height: 75%;
    max-width: 50%;
    position: relative;
    left: 22%;
    top: 40%;
    display: flex;
    flex-direction: column;
}

label {
    color: azure;
    display: flex;
    font-family: 'Cinzel', 'Arial';
    font-weight: 600;
}

input[type=text], input[type=email], input[type=tel], input[type=password], textarea {
    display: flex;
    height: 2em;
    border-radius: 8px;
    text-align:left;
    border: solid #72a4c7 2px;
    background-color: #233443 ;
    color: azure;
}

::placeholder {
    font-size: 1em;
    color: rgb(186, 192, 192);
}


.names, .row2, .passwords {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

input:hover{
    border: 2px solid whitesmoke;
}

input:focus {
    background-color: #5a6874;
    border-color: gold;
    outline: none;

}





